<div>
  <h2>Things we are figuring out </h2>
  <ul>
    <li>
      Get user's timezone: <em>{{ usersTimeZone }}</em>
    </li>
    <li>Display list of all timezones to choose from:</li>

    <li>Select & save time/timezone: <em>{{ inputTime }}</em>
      <div>
<!--        <form [formGroup]="eventFormGroup"-->
<!--              class="event-form example-form subheading relative">-->
<!--          <mat-form-field class="time-field m-b-2">-->
<!--            <mat-select placeholder="Time"-->
<!--                        required-->
<!--                        formControlName="timeField"-->
<!--                        [(value)]="selectedTime"-->
<!--                        (selectionChange)="change(); autopopulateDatetime();"-->
<!--              <mat-option class="mat-option-spacing"  *ngFor="let t of timetable" [value]="t">{{t}}</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->

<!--          <mat-form-field class="time-zone-field m-b-2">-->
<!--            <mat-select placeholder="Time zone"-->
<!--                        required-->
<!--                        formControlName="timeZoneField"-->
<!--                        [(value)]="timeZone"-->
<!--                        (selectionChange)="change();"-->
<!--              <mat-option class="mat-option-spacing"  *ngFor="let z of timezoneList" [value]="z">{{z}}</mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </form>-->
      </div>
    </li>

    <li>
      <p>Display event's time from any timezone, in user's timezone</p>
      <p>Original Time: {{ eventTime }}, {{ eventTimeZone }}</p>
      <p>Displayed Time: {{ displayedTime }}, {{displayedTimeZone}}</p>
    </li>
    <li>
      <p>Calculate if a time in a timezone has passed, in user's timezone</p>
      <p>Now: {{ nowTime }}, {{ nowTimeZone }}</p>
      <p>Selected time has past: {{hasPassed}}</p>
    </li>
  </ul>
</div>
