<div>
  <h2>Things we are figuring out </h2>
  <ul>
    <li>
      Get user's timezone: <em>{{ usersTimeZone.displayedName }}</em>
    </li>
    <br>

    <li>Display list of all timezones to choose from</li>
      <ul>
        <li *ngFor="let timezone of timezonetable">
          {{ timezone.displayedName}}
        </li>
      </ul>
    <br>

    <li>Select Event Time & Timezone:
      <div *ngIf="eventSubmitted">{{ eventTime.format('time') }} {{ eventTimeZone.displayedName }}</div>
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <label>Time:</label>
        <select class="custom-select" formControlName="timeField">
          <option *ngFor="let time of timetable" [ngValue]="time">{{ time }}</option>
        </select>

        <br>

        <label>Timezone:</label>
        <select class="custom-select" formControlName="timeZoneField">
          <option value="" disabled>pick timezone</option>
          <option *ngFor="let timezone of timezonetable" [ngValue]="timezone">{{ timezone.displayedName }}</option>
        </select>

        <br>

        <button type="submit" [disabled]="!eventForm.valid">Submit</button>
      </form>
    </li>
    <br>

    <li>
      <p>Show Event Time in User Timezone</p>
      <p>Event Time:</p> <div *ngIf="eventSubmitted">{{ eventTime.format('time') }} {{ eventTimeZone.displayedName }}</div>
      <p>In User's Timezone:</p> <div *ngIf="eventSubmitted">{{ displayedTime.format('time') }}  {{ usersTimeZone.displayedName }}</div>
    </li>
    <br>

    <li>
      <p>Calculate if a time in a timezone has passed, in user's timezone</p>
      <p>Now: {{ nowTime.format('time') }}, {{ usersTimeZone.displayedName }}</p>
      <p>Selected time has past: {{ hasPassed }}</p>
    </li>
  </ul>
</div>
